/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
/* VARIABLE CSS */
:root {
  --header-height: 3em;
  --font-semi: 600;
}
/* COLORS  */
:root {
  --first-color: #4070f4;
  --segond-color: #0e2431;
}
/* font et typographie */
:root {
  --body-font: "open";
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
}

@media screen and (min-width: 768px) {
  :root {
    --body-font: "open";
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
  }
}
/* MARGES */
:root {
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
}

/* z-index */
:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}
/* BASE */
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--segond-color);
}
h1,
h2,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
/* CSS CLASSES */
.section-title {
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-4);
  text-align: center;
}
.section-title::after {
  position: absolute;
  content: "";
  width: 64px;
  height: 0.18rem;
  left: 0;
  right: 0;
  top: 2rem;
  margin: auto;
  background-color: var(--first-color);
}
.section {
  padding-top: 2rem;
  padding-bottom: 1rem;
 
}
/* LAYOUT */

/* NAV */
nav {
    font-weight: var(--font-semi);
    height: 80px !important;
    text-transform: uppercase;
    background-color: var(--first-color)  !important;
  }
  .navbar-toggler{
    padding: 0 !important;
    width: 50px !important;
    height: 50px;
    align-self: center;
    color: #fff !important;

  }
  /* .navbar-toggler{
    border-color: white !important;
  }
  .navbar-toggler-icon{
    color: white !important;
  } */

  .navbar-collapse a {
    color: white;
  }
  .nav-link{
    color: #fff !important;
  }
  
  .navbar-collapse {
    background-color: var(--first-color)  !important;
    
  }
  header{
    position: sticky;
    z-index: 1020;
    top:0;
    
  }
  .logo{
    width: 150px !important;
  }
  .show{
    background-color:RGBA(64,112,244,.6) !important; 
  text-align: center;
}
.collapsing{
  background-color:RGBA(64,112,244,.6) !important; 
  text-align: center;

}
/* HOME */

.home_data {
  align-self: center;
}
.home_title {
  font-size: var(--big-font-size);
  margin-bottom: var(--mb-5);
}
.home_title-color {
  color: var(--first-color);
}
.home_social {
  display: flex;
  flex-direction: column;
}
.home_social-icon {
  width: max-content;
  margin-bottom: var(--mb-2);
  font-size: 1.5rem;
  color: var(--segond-color);
}
.home_social-icon i{
  font-size: 3em;
}
.home_social-icon:hover {
  color: var(--first-color);
}
.home_img img{
margin-top: 20px;

}
.home-icons{
padding: 5rem !important;}

/* =======button======= */
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 0.75rem 2.5rem;
  font-weight: var(--font-semi);
  border-radius: 0.5rem;
  text-decoration: none;
  height: 70px;
  border: none
}
.button:hover {
  color:#fff; 
  box-shadow: 0 10px 36px rgba(0, 0, 0, 0.15);
}
/* cpmétences */

.compétence-box{
  border: 1px solid #0e2431;
  border-radius: 10px;
}

/* ======About======== */
.about_container {
  text-align: center;
  row-gap: 2rem;
}
.about_subtitle {
  margin-bottom: var(--mb-2);
}
.about_img {
  
}
.about_img img {
  width: 100vw;
}
/* ===Skills ==== */
.skills_container {
  margin-top: 5rem;
  text-align: center;
}
.skills_subtitle {
  margin-bottom: var(--mb-2);
}

.skills_text {
  margin-bottom: var(--mb-4);
}
.skills_data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: var(--font-semi);
  padding: 0.5rem 1rem;
  margin-bottom: var(--mb-4);
  border-radius: 0.5rem;
  box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
}
.skills_icon {
  font-size: 2rem;
  color: var(--first-color);
  margin-right: 10px;
}
.skills_names {
  display: flex;
  align-items: center;
}
.skills_bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--first-color);
  height: 0.25rem;
  border-radius: 0.5rem;
  z-index: var(--z-back);
}
.skills_html {
  width: 80%;
}
.skills_css {
  width: 80%;
}
.skills_javascript {
  width: 75%;
}
.skills_bootstrap {
  width: 80%;
}
.skills_img {
  margin: auto;
}
.skills_img img {
  border-radius: 0.5rem;
}
.skills_react{
  width: 60%;

}
.skills_php{
  width: 80%;

}
.skills_java{
  width: 60%;
}
.skills_laravel{
  width: 60%;
}
.skills_vue{
  width: 50%;
}
/* ===Work=== */
.work {
  text-align: center;
}
.work_container {
  margin-bottom: 2rem;
}
.work_img {
  margin-bottom: 1rem;
  box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
  border-radius: 0.5rem;
  overflow: hidden;
}
.work_img img {
  transition: 1s;
  cursor: pointer;
}
.work_img img:hover {
  transform: scale(1.1);
}
/* =======contact======== */
.email{
  word-wrap: break-word;

}
.contact-box{
border-radius: 10px;

}
.contact-box p {
 font-size: 1rem; 

}
.contact-box a{
  font-size: 1rem;

}
.contact-icon i{
font-size: 2rem;
padding-right: 1rem;
color: var(--first-color);
margin-bottom: var(--mb-3);
}
.contact-icon{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-size: var(--h2-font-size);
  transition: all 1s;
  max-width: 300px;
  text-decoration: none;
  transition: 1s; 
  padding: 1em;

}
.contact-icon a{
  text-decoration: none;
  color:black; 

}
.contact-icon:hover{
color: var(--mb-1);
transform: scale(1.5);
box-shadow: 0 10px 40px rgba(0, 0, 0, 0.15);
border-radius: 15px;


}
.contact_input {
  width: 100%;
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi);
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1.5px solid var(--segond-color);
  outline: none;
  margin-bottom: var(--mb-4);
}
.contact_button {
  display: block;
  border: none;
  outline: none;
  font-size: var(--normal-font-size);
  cursor: pointer;
  margin-left: auto;
}
.linkedin a{
text-decoration: none;
color: black;
display: flex;
flex-direction: column;}
/* =======Footer========= */
.footer {
  background-color: var(--segond-color);
  color: #fff;
  text-align: center;
  font-weight: var(--font-semi);
  padding: 2rem 0;
}
.footer_title {
  font-size: 2rem;
  margin-bottom: var(--mb-4);
}
.footer_social {
  margin-bottom: var(--mb-4);
}
.footer_icon {
  font-size: 1.5rem;
  color: #fff;
  margin: 0 var(--mb-2);
}

.footer_icon:hover{
transform: scale(2);
}/* =======media ============ */
@media screen and (max-width: 767px) {
  .home_img{
    position: relative;
  }
  .logo{
    width: 120px !important;
  }

  
}
@media screen and (min-width: 768px) {
  .logo{
    width: 120px !important;
  }
  body {
    margin: 0;
  }
  .home-btn{
    width: 200%;
  }
 
  .section {
    padding-top: 4rem;
    padding-bottom: 3rem;
    font-size: var(3em);
  }
  .section-title {
    margin-bottom: var(--mb-6);
  }
  .section-title::after {
    width: 80px;
    top: 3rem;
  }

 
  .home_data {
    align-self: flex-end;
  }
  .home_social {
    padding-top: 0;
    padding-bottom: 2.5rem;
    flex-direction: row;
    align-self: flex-end;
  }
  .home_social-icon {
    margin-bottom: 0;
    margin-right: var(--mb-4);
  }
  .home_img {
    bottom: 15%;
  }
  .btn-bontainer{
    margin-top: 12% !important;
  }
  .about_container,
  .skills_container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: initial;
  }
  .resize{
    margin:0 auto; 
    width: 74%!important;
  }
  .about_img img {
    width: 300px;
  }

  .work_container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    columns: gab 2rem;
  }
  .contact_form {
    width: 360px;
  }
  .contact_container {
    justify-items: center;
  }
}
@media screen and (min-width: 1024px) {
  .bd-grid {
    margin: 0 auto;
  }

  .home_img {
    right: 10%;
  }
}


